{{! template for changelog generation
    main task for execution must in in build.gradle
    Syntax: https://mustache.github.io/
}}
# Changelog
All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).


{{#tags}}

     {{#ifMatches commits "^\[FEAT\].*$"}}
 TEST : "{{subString . 0 3}}" and number {{subString . 4}}
        {{/ifMatches}}


  {{#ifContainsType commits type='feat'}}
    ### Features

    {{#commits}}
      {{#ifCommitType . type='feat'}}
  - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
      {{/ifCommitType}}
    {{/commits}}
  {{/ifContainsType}}

{{#commits}}
 {{#eachCommitScope .}}
  scope: {{.}}
 {{/eachCommitScope}}

       {{#ifMatches message "^.*FEAT.*"}}
 fixes : "{{subString . 0 3}}" and number {{subString . 4}}
        {{/ifMatches}}
{{/commits}}


{{/tags}}


{{! todo Legacy changelog that cannot be derived from commits }}
